/* * {
    overflow: hidden
} */

.onePx {
    width: 1px !important;
}

.active {
    background: black;
}

.body {
    /* background: #777; */
}

/* .rt-td[style] {
    width: 1px !important
}

.rt-th[style] {
    width: 1px !important
} */

.content {
    padding-top: 3rem;
    /* position: relative; */
    /* height: calc(100% - 3rem); */
    height: 100%;
}

.loading {
    background: rgba(3, 3, 3, 0.5);
    position: absolute;
    width: calc(100% - 16rem);
    /* width: 100%; */
    height: calc(100% - 3.5rem);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-bootstrap-table-pagination-list {
    /* display: flex !important;
    justify-content: flex-end !important; */
}

.sidebar {
    height: 100%;
    background: #1d2127;
    color: #F3EFF5;
    position: fixed;
    width: 16rem;
    text-align: start;
}

.sidebar-header {
    text-align: end;
}

.sidebar-item {
    padding: 10px 0;
    display: block;
    width: 100%;
    color: #F3EFF5;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 20px;
}

.sidebar-item:hover {
    color: #F3EFF5;
    text-decoration: none;
    background: black;
}

.sidebar-icon {
    padding: 1rem 1.5rem;
}

.sidebar-toggle {
    cursor: pointer;
    color: white;
    background: black;
    border-bottom-left-radius: 0.7rem;
}